body {
    background-color: pink
}
.text {
    color: green;
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
}
#globobutton {
    background-color: yellow;
}
.bubu {
    height: 1000;
    background-color: red;
}